{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Report{% endblock %}
{% block content %}
<div class="container">
        <h1>Report for sample training</h1>

        <div id="chart_div"></div>
        
        <script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
        
        <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        // Draw the chart and set the chart values
        function drawChart() {
            var q1 = "The training contents met with your expections."
            var q2 = "The contents were illustrated with examples."
            var q3 = "The lectures were clear and easy to understand.";
            var data = google.visualization.arrayToDataTable([
        ['Genre', 'Strongly disagree', 'Disagree', 'Neutral', 'Agree',
         'Strongly agree', { role: 'annotation' } ],
        [q1, 50, 20, 30, 40, 35, ''],
        [q2, 20, 10, 75, 40, 30, ''],
        [q3, 40, 35, 20, 50, 30, '']
      ]);

      var options = {
        width: 1000,
        height: 800,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true
      };
        
          // Display the chart inside the <div> element with id="piechart"
                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
        }
        </script>
</div>
{% endblock %}
